{% extends "journal/base.html" %}

{% block title %}О системе{% endblock %}

{% block content %}

<div class="card">
    <div class="card-header bg-primary text-white">
        <h4 class="mb-0"><i class="bi bi-info-circle"></i> О системе</h4>
    </div>
    <div class="card-body">
        <h5>Электронный журнал «Приморского Политехнического колледжа»</h5>
        <p>Система предназначена для учёта успеваемости и посещаемости студентов.</p>
        
        <h5 class="mt-4">Возможности системы:</h5>
        <ul>
            <li>Просмотр расписания занятий</li>
            <li>Учёт оценок и посещаемости</li>
            <li>Загрузка учебных материалов</li>
            <li>Формирование отчётов в Excel и Word</li>
            <li>Личные кабинеты для студентов и преподавателей</li>
        </ul>
        
        <h5 class="mt-4">Разработчик:</h5>
        <p>Воробьев Николай Анатольевич<br>
        Приморский Политехнический колледж<br>
        2026 год</p>
    </div>
</div>

{% endblock %}