<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <i class="bi bi-journal-bookmark-fill"></i> Электронный журнал
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">
                        <i class="bi bi-house"></i> Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'schedule_list' %}active{% endif %}" href="{% url 'schedule_list' %}">
                        <i class="bi bi-calendar"></i> Расписание
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'teachers_list' %}active{% endif %}" href="{% url 'teachers_list' %}">
                        <i class="bi bi-person-badge"></i> Преподаватели
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'departments_list' %}active{% endif %}" href="{% url 'departments_list' %}">
                        <i class="bi bi-building"></i> Отделения
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'groups_list' %}active{% endif %}" href="{% url 'groups_list' %}">
                        <i class="bi bi-people"></i> Группы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'disciplines_list' %}active{% endif %}" href="{% url 'disciplines_list' %}">
                        <i class="bi bi-book"></i> Дисциплины
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'discipline_plans_list' %}active{% endif %}" href="{% url 'discipline_plans_list' %}">
                        <i class="bi bi-journal-bookmark"></i> Планы
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'classrooms_list' %}active{% endif %}" href="{% url 'classrooms_list' %}">
                        <i class="bi bi-door-closed"></i> Кабинеты
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">
                        <i class="bi bi-info-circle"></i> О системе
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">
                        <i class="bi bi-envelope"></i> Обратная связь
                    </a>
                </li>

                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i> Выход ({{ user.username }})
                        </a>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'login' %}active{% endif %}" href="{% url 'login' %}">
                            <i class="bi bi-box-arrow-in-right"></i> Вход
                        </a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>